@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Modify City";
    Layout = "~/Views/Shared/_Layout_Admin_Side.cshtml";
}
@using System.Data
@using The_Ghar.Areas.Admin_Side.Models
@model CityModel
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="h4">City</h4>

        </div>
        <h4>@TempData["CityInsertMsg"]</h4>
        <h4>@TempData["CityUpdateMsg"]</h4>

    </div>
    <form method="post" asp-area="Admin_Side" asp-controller="Location" asp-action="CitySave">
        @Html.HiddenFor(x=>x.CityID)
        <div class="form-group row" style="width:100%;">
            <label class="col-sm-12 col-md-2 col-form-label">State</label>
            <div class="col-sm-12 col-md-10">
                <select class="custom-select col-12" style="font-size: 14px;
    border-radius: 8px;font-family: 'Inter',sans-serif;
    color: #131e22;
    font-weight: 400;
    height: 45px;
    border-color: #d4d4d4;

    transition: all .3s ease-in-out;display: inline-block;
    width: 100%;

    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    vertical-align: middle;
   
    border: 1px solid #ced4da;

    appearance: none;" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                    <option selected="">Select</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="width:100%;">
            <label class="col-sm-12 col-md-2 col-form-label">City Name</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control"
                       type="text" asp-for="CityName" />
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Save</button>
        <input type="button" value="Cancel" class="btn btn-outline-primary btn-sm mb-0" onclick="location.href='@Url.Action("CityList", "Location")'" />

    </form>
</div>